<!-- index.html -->
{% extends "base.html" %}
{% block content %}

<div class='container' align=center>
  <h1>關於我們</h1>
  <div class='row'>
<p>『湖頂民宿』位於溪頭風景線--鳳凰支線，南投八大勝景之一的『麒麟潭』畔，
  不但是空氣清新、景緻幽美，全新的硬體設備，且提供免費無線網路，讓您住得更舒適而溫馨！

『湖頂民宿』位居凍頂山下，景色幽美、生態豐富、前臨『麒麟潭』，且鄰近與鳳凰谷鳥園、內湖森
林小學、全台灣最美麗的社區----「小半天」、以及避暑聖地-溪頭森林遊樂區(溪頭妖怪村)，
是炎炎夏季避暑、清涼的好去處哦！</p></div>
<div class='row'>
  {% load static %}
  <div class='col-sm-4'><img title="" src="{% static 'sample_image1.jpeg' %}" width=300 height=300></div>
  <div class='col-sm-4'><img title="" src="{% static 'sample_image2.jpeg' %}" width=300 height=300></div>
  <div class='col-sm-4'><img title="" src="{% static 'sample_image3.jpeg' %}" width=300 height=300></div>
</div>

{% endblock %}