<!-- index.html -->
{% extends "base.html" %}
{% block morehead %}
<style>
	.rwd_table_size_f{
		width: 60%;
	}
	.rwd_table_size_m{
		width: 100%;
	}
	.rwd_input{width: 40%;}	

	 @media only screen and (max-width:500px) and (min-width:150px) {
		 .rwd_input{
			 width: 100%;}
			
	 	}

</style>
{% endblock %}
{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




<section class="home_banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
		<div class="container">
				<div class="banner_content text-center">
					<h1>湖頂農場民宿</h1>
			
				</div>
			</div>
		</div>
	</div>
</section>
<!--================Booking Area =================-->
<section class="container">
		<div class="booking_area">
			<form name='booking form' action='booking' method='GET'>
				<div class="row" >
					<div class="col-lg-4">
						<br>
						<div class="booking_item">
							<p>入住 - 日期</p>
							<span class="day" id="i_day">{{ in_day }}</span>
							<span class="month" id="i_month">{{ in_month }}</span>
							<input type="text"  name='room_start_date' id="start_date" value='{{ str_inday }}' style="display: none;">
						</div>
						<br>
					</div>
					<div class="col-lg-4">
							<br>
						<div class="booking_item">
							<p>退房 - 日期</p>
							<span class="day" id="o_day">{{ out_day}}</span>
							<span class="month" id="o_month">{{ out_month }}</span>
							<input type="text"  name='room_end_date' id="end_date" value='{{ str_outday }}' style="display: none">
						</div>

						<br>
					</div>
					<div class="col-lg-4">
						<br>
						<div class="booking_item">
								<br>
									<button type="submit" class="main_btn text-uppercase">查詢空房</button>
									<span class="invisible"><input type="text" name='Form id' value='0'></span>
						</div>
						<br>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!--================End Booking Area =================-->



<div class='container'>
{% if sd %}
<br>
您選擇入住{{ sd }}到{{ ed }}，共{{ n_night }}個晚上(含{{ n_holiday }}個假日)，目前的空房有：
{% endif %}

{% if empty_rooms %}

<form name='rooms select' action='booking' method='POST'>
	{% csrf_token %}
	<div class="invisible" style="display: none">
	<input type="integer" name='room_start_date' value='{{ sd }}'>
	<input type="text" name='room_end_date' value='{{ eud }}'>
	<input type="text" name='Form id' value='1'>
	<input type="text" name='empty_rooms' value='{{ ems }}'>
  </div>
<br>


<table id="my_available_table" class="table" style="table-layout: fixed;white-space: nowrap;" align="center">
  <thead>
    <tr>
      <th scope="col" style="text-align: left">房型</th>
      <th scope="col" style="text-align: right">價格(假日)</th>
      <th scope="col" style="text-align: right">剩餘房數</th>
      <th scope="col" style="text-align: right">訂房數量</th>
    </tr>
  </thead>
  <tbody>
  	{% for room, N_room_left, N_room_range in empty_room_info %}
    <tr>
      <th style="text-align: left">{{ room.room_name }}</th>
      <td style="text-align: right">{{ room.room_price }}( {{ room.holiday_price }} )</td>
      <td style="text-align: right">{{ N_room_left }}</td>
			<td style="text-align: right"> <div class="fas fa-home"></div>
			<select class="rwd_input custom-select custom-select-sm" name = 'N_{{ room.name }}'>
				<option selected>0</option>
				{% for n in N_room_range %}
					<option value="{{ n }}">{{ n }}</option>
				{% endfor %}
			</select>
			</td>
    </tr>
    {% endfor %}

  </tbody>
</table>


<div align="right"><button type="submit" class="main_btn">訂房</button><br/></div>
</form>
{% else %}
	{% if sd %}
	<h1>很抱歉完全沒房間了！</h1>
	{% endif %}
{% endif %}
<br>
<!-- Add some warning messages here: -->
{% for message in messages %}

	<div class="alert alert-{{ message.tags }} text-center" role="alert" >{{ message }}</div>
{% endfor %}
<br>
						

</div> <!--  end of container -->
{% endblock %}

{% block scripts %}
<script>
const monthNames = ['一月', '二月', '三月', '四月', '五月','六月',
'七月','八月','九月','十月','十一月','十二月'];

    function addDays(date, days) {
    var result = new Date(date);
    result.setDate(result.getDate() + days);
    return result;
  }

  function ajax_date_check(){
		console.log('ajax is triggered!!')
    var start_date = document.getElementById("start_date").value
    var end_date = document.getElementById("end_date").value
		console.log(start_date)
		console.log(end_date)
      $.ajax({
        url: '/ajax/booking_validate_date/',
        data: {
          'start_date': start_date,
          'end_date': end_date
        },
        dataType: 'json',
        success: function (data) {
          if (data.problematic){
            alertify.error('退房日期必須大於入住日期，請重新輸入！'); 
            // alert("退房日期必須大於入住日期，請重新輸入！");
          }
        }
    })
  }

  $("#end_date").change(function () {
		var end_date = new Date(document.getElementById("end_date").value);
		document.getElementById("o_day").innerHTML = end_date.getDate();
		document.getElementById("o_month").innerHTML = monthNames[end_date.getMonth()];
		console.log('triggered?')
    ajax_date_check();
     });
  
  $("#start_date").change(function () {
		var start_date = new Date(document.getElementById("start_date").value);
		document.getElementById("i_day").innerHTML = start_date.getDate();
		document.getElementById("i_month").innerHTML = monthNames[start_date.getMonth()];
		console.log('triggered? start_date?')
    ajax_date_check();
     });

$( function() {
	$( "#end_date" ).datepicker({
	dateFormat: "yy-mm-dd", 
	showOn: "button",
	buttonText: '<i class="fas fa-calendar"></i>'});
} );

$( function() {
	$( "#start_date" ).datepicker({
	dateFormat: "yy-mm-dd", 
  showOn: "button",
  buttonText: '<i class="fas fa-calendar"></i>'});
} );

//  set things after page is fullly loaded
function happycode(){
	var old = document.getElementsByClassName("ui-datepicker-trigger");
	$(".ui-datepicker-trigger").addClass("btn-small btn-info");
	}

window.onload=happycode ;

function checkWidth(init)
{
    /*If browser resized, check width again */
		var test = document.getElementsByClassName("rwd_input");;
    if ($(window).width() < 514) {  
			$('#my_available_table').addClass('table-responsive');
			$('#my_available_table').addClass('rwd_table_size_m');
			$('#my_available_table').removeClass('rwd_table_size_f');
			// $('#rwd_input').removeClass('rwd_input_size_f');
    }
    else {
			$('#my_available_table').removeClass('table-responsive');
			$('#my_available_table').removeClass('rwd_table_size_m');
			$('#my_available_table').addClass('rwd_table_size_f');
			// $('#rwd_input').addClass('rwd_input_size_f');
    }
}

$(document).ready(function() {
    checkWidth(true);

    $(window).resize(function() {
        checkWidth(false);
    });
});
</script>

<link href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.core.css" rel="stylesheet">  
<link href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.default.css" rel="stylesheet">  
<script src="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.min.js"></script>

<!-- fancy alert 
http://jsgears.com/viewthread.php?tid=2309
<link href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.core.css" rel="stylesheet">  
<link href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.default.css" rel="stylesheet">  
<script src="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.min.js"></script>
alertify.error('退房日期必須大於入住日期，請重新輸入！');   

alertify.alert('退房日期必須大於入住日期，請重新輸入！'); -->


<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.core.css" rel="stylesheet">  
<link href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.default.css" rel="stylesheet">  
<script src="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.min.js"></script> -->

{% endblock %}