<!-- footer.html -->
{% load static %}
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-footer-widget">
                    <h6>HEY!</h6>
                    <p>
                        The world has become so fasted that people don’t want to standby reading page of info they
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-footer-widget">
                    <h6>Quick Links</h6>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>For business professionals caught between high OEM price mediocre print and graphic.</p>
                    
                </div>
            </div>
          
        </div>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div>
                <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        
        </div>
    </div>
    copy right
    1. contact
    電　話：049-2754309
    手　機：0935-772049
    傳　真：049-2754606
    地　址：南投縣鹿谷鄉永隆村堀邊巷2-1號
    cth30@outlook.com
    Keywords for Search Engine Optimization
    2. admin shortcut
    3. my personal advertizement
</footer>
