
<!-- header.html-->
{% load static %}


<header class="header_area navbar_fixed">
<div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="/"><img src="{% static 'title_text.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item {% if home %}active{% endif %}"><a class="nav-link" href="/">首頁</a></li>
            <li class="nav-item {% if news %}active{% endif %}"><a class="nav-link" href="/news">最新消息</a></li>
            <li class="nav-item submenu dropdown {% if about %}active{% endif %}">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="true">關於我們</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="/about">關於我們</a></li>
                  <li class="nav-item"><a class="nav-link" href="/traffic">交通方式</a></li>
                </ul>
              </li>
            <li class="nav-item submenu dropdown {% if roomtype %}active{% endif %}">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">房型介紹</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'roomtype' %}#room1">四人大套房</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'roomtype' %}#room2">三人套房</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'roomtype' %}#room3">和式團體房</a></li>
                </ul>
            </li>
            <li class="nav-item submenu dropdown {% if booking %}active{% endif %}">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">訂房</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="/booking">線上訂房</a></li>
                <li class="nav-item"><a class="nav-link" href="/calendar">月曆查詢</a></li>
              </ul>
            </li>
            <li class="nav-item {% if nearby %}active{% endif %}"><a class="nav-link" href="/nearby">附近景點</a></li>
            <li class="nav-item {% if message_area %}active{% endif %}"><a class="nav-link" href="/message_area">留言區</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
