<!-- header.html-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" >幫德鴻做的民宿網站</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">首頁 </a>
      </li>
      {% load static %}
      <li class="nav-item">
        <a class="nav-item" href="/news">
          <img title="最新消息" src="{% static 'menu_icon1.png' %}"
          onmouseover="this.src='{% static 'menu_icon1_s.png' %}'"
          onmouseout="this.src='{% static 'menu_icon1.png' %}'"
          width=75 height=40></a>
        </li>
      <li class="nav-item">
        <a class="nav-item" href="/about">
          <img title="關於我們" src="{% static 'menu_icon2.png' %}"
        onmouseover="this.src='{% static 'menu_icon2_s.png' %}'"
        onmouseout="this.src='{% static 'menu_icon2.png' %}'"
        width=75 height=40></a></li>
      <li class="nav-item">
        <a class="nav-item" href="/roomtype">
          <img title="房間介紹" src="{% static 'menu_icon3.png' %}"
          onmouseover="this.src='{% static 'menu_icon3_s.png' %}'"
          onmouseout="this.src='{% static 'menu_icon3.png' %}'"
          width=75 height=40> </a>      </li>
      <li class="nav-item">
        <a class="nav-item" href="/calendar">
          <img title="剩餘房間" src="{% static 'menu_icon8.png' %}"
          onmouseover="this.src='{% static 'menu_icon8_s.png' %}'"
          onmouseout="this.src='{% static 'menu_icon8.png' %}'"
          width=75 height=40></a>      </li>
      <li class="nav-item">
        <a class="nav-item" href="/booking">
          <img title="線上訂房" src="{% static 'menu_icon4.png' %}"
          onmouseover="this.src='{% static 'menu_icon4_s.png' %}'"
          onmouseout="this.src='{% static 'menu_icon4.png' %}'"
          width=75 height=40></a>      </li>
      <li class="nav-item">
        <a class="nav-item" href="/traffic">
          <img title="交通方式" src="{% static 'menu_icon5.png' %}"
          onmouseover="this.src='{% static 'menu_icon5_s.png' %}'"
          onmouseout="this.src='{% static 'menu_icon5.png' %}'"
          width=75 height=40></a>      </li>
      <li class="nav-item">
        <a class="nav-item" href="/nearby">
          <img title="附近景點" src="{% static 'menu_icon6.png' %}"
          onmouseover="this.src='{% static 'menu_icon6_s.png' %}'"
          onmouseout="this.src='{% static 'menu_icon6.png' %}'"
          width=75 height=40> </a></li>
      <li class="nav-item">
        <a class="nav-item" href="/message_area">
          <img title="留言區" src="{% static 'menu_icon7.png' %}"
          onmouseover="this.src='{% static 'menu_icon7_s.png' %}'"
          onmouseout="this.src='{% static 'menu_icon7.png' %}'"
          width=75 height=40></a>
        </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<br>
