<!-- header.html-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >幫德鴻做的民宿網站</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">首頁 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">最新消息</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">關於我們</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roomtype">房間介紹</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/booking">線上訂房</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/traffic">交通方式</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nearby">附近景點</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/message_area">留言區</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar">房間使用狀況</a>
      </li>
    </ul>
  </div>
</nav>