<!-- index.html -->
{% extends "base.html" %}

{% block content %}
{% load static %}

<div class='container' align=center>
<h1 align=center>最新消息</h1>
{% for news in all_news %}
<br>
<div class='row'>
  <div class='col-sm-2'>
  </div>
	<div class='col-sm-3'>
    <img src="{{ news.news_thumbnail.url }}" class="rounded mx-auto d-block" width=150 height=150>
	</div>
	<div class='col-sm-6'>
    <h4 align='left'>{{ news.news_title}}</h4>
      <p style="font-size: 14px">{{news.news_content|truncatechars:150|safe}}
        <button data-toggle="modal" class="btn btn-link" data-target="#myModal{{ forloop.counter }}">more...</button>
      </p>
    <!-- add a bigger view for each news -->

    <p style="font-size: 8px" align='right'>{{ news.news_upload_time}}</p>
	</div>
</div>
<br>
<div class='row'><div class="new_line col-md-9 offset-md-2"></div></div>

<div class="modal fade" tabindex="1" role="dialog" id="myModal{{ forloop.counter }}">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{news.news_title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{news.news_content | linebreaks}}</p>
        <p style="font-size: 12px" align='right'>{{ news.news_upload_time}}</p>
	  </div>
      <div class="modal-footer">
        <button class="btn btn-link" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

</div>

{% endblock %}
