<!-- index.html -->
{% extends "base.html" %}
{% block content %}
<div class='container' align=center>
	<section class="our_room_area">
			<div class="container-fluid">
				<div class="row">
					<div class="overlay" style="background-color: #eef9ff;bottom:50%"></div>
					<div class="col-lg-12">
						<div class="main_title">
							<div class="top-part">
							</div>
							<h2>我們的房間</h2>
							<div class="bottom_part">
								<p>
									We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to day,
									also asks us to remain physically young. Young at heart,
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center" id="room1">
					<div class="col-lg-6">
						<div class="room_left">
							<img class="img-fluid" src="/static/img/room/r1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6">
							<div class="room_right">
								<h1 class="price">
									<i class="fa fa-dollar"></i>1000<span> &nbsp;每晚</span>
								</h1>
								<h1 class="type">
										四人大套房
								</h1>
								<p align="left">
									We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to day,
									also
									asks us to remain physically young. Young at heart,
								</p>

								<a href="#" class="main_btn">Book Now</a>
							</div>
							</div>
				</div>
				<div class="row align-items-center" id="room2">
						<div class="col-lg-6">
							<div class="room_left">
								<img class="img-fluid" src="/static/img/room/r1.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6">
								<div class="room_right">
									<h1 class="price">
										<i class="fa fa-dollar"></i>1000<span> &nbsp;每晚</span>
									</h1>
									<h1 class="type">
											四人大套房
									</h1>
									<p align="left">
										We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to day,
										also
										asks us to remain physically young. Young at heart,
									</p>
	
									<a href="#" class="main_btn">Book Now</a>
								</div>
								</div>
				</div>
				
			</div>
		</section>
</div>
{% endblock %}