<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<input type="text" id="your-datepicker-id" style="display: none;">
<button type="button" class="ui-datepicker-trigger"><i class="fa fa-calendar"></i></button>
<script type="text/javascript">
$('#your-datepicker-id').datepicker({
  dateFormat: "dd/mm/yy", 
  showOn: "button",
  buttonText: '<i class="fa fa-calendar"></i>'
})
</script>
</body>