<!-- index.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='container' align=center>
	<h1>交通方式</h1>
	<p>中二高(國道3號)＞竹山/鹿谷交流道下＞右轉台三線(往溪頭方向)＞接台151號縣道往溪頭＞鹿谷＞往麒麟潭方向＞麒麟潭＞湖頂民宿</p>

	<section class="gallery_area" id="gallery">

		<div class="single-gallery w-50">
			<div class="overlay"></div>
			<img class="img-fluid" src="/static/map_sample.jpg" alt=""> 
			<div class="icon">
				<a target="_blank"  href="/static/map_sample.jpg" class="img-pop-home">
					<img src="/static/img/zoom-icon.png" alt="">
				</a>
			</div>
		</div>
		<!-- style="left:50%;transform:translate(-50%, 0%);" -->
</section>
	  <!-- <a target="_blank" rel="我們的地圖放大顯示" href="/static/map_sample.jpg"><img title="" src="/static/map_sample.jpg"></a> -->
	  <p>經度：120.769572    緯度：23.75253</p>
</div>
{% endblock %}